.vscode/*
*__pycache__*

# Environments
.env
.venv
ETC/
env/
venv/
ENV/
env.bak/
venv.bak/
Code/bin/*.slurm
Code/bin/*.out
Code/bin/*.err
all_labels.png
bottom_labels.png
top_labels.png
Code/model/pretrained/*
trained_models/tc_pretrained_corrections_roberta.pt
